#wrap,
#header {
  width: 100%;
  min-width: 1600px;
}

.inner {
  width: 1600px;
  margin: auto;
}

#header {
  .inner {
    height: 208px;
    margin-top: 30px;

    .first {
      border-bottom: 1px solid #c5c6c8;
      width: 100%;
      height: 117px;
      position: relative;
      .logo {
        display: inline-block;
        position: absolute;
        width: 277px;
        height: 51px;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        a {
          display: inline-block;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .top-menu {
        position: absolute;
        right: 0;
        top: 40%;
        transform: translateY(-50%);
        display: flex;
        width: auto;
        height: 32px;
        padding: 9px 0px;
        justify-content: center;
        align-items: center;
        gap: 7px;
        li {
          font-family: "Paperlogy";
          &:nth-child(1) {
            width: 117px;
            height: auto;
            margin-right: 5px;
            a {
              display: flex;
              justify-content: center;
              font-size: 14px;
              width: 117px;
              height: 25.59px;
              position: relative;
              font-weight: 600;
              svg {
                position: absolute;
                right: -3px;
                top: 2px;
              }
              &:hover {
                color: #0b6cc8;
                .more_icon {
                  fill: #0b6cc8;
                }
              }
            }
          }
          button {
            border-radius: 60px;
            border: 1px solid var(--Blue-blue-600, #0b6cc8);
            background: var(--W, #fff);
            color: #0b6cc8;
            line-height: 14px;
            font-size: 12px;
            &:nth-child(1) {
              width: 76px;
              height: 32px;
            }
            &:nth-child(2) {
              width: 91px;
              height: 32px;
            }
            &:hover {
              color: #fff;
              background: #0b6cc8;
            }
          }
        }
      }
    }
    .second {
      width: 100%;
      position: relative;
      z-index: 1000;

      .depth1 {
        position: absolute;
        display: flex;
        justify-content: center;
        gap: 90px;
        left: 50%;
        bottom: -63px;
        transform: translateX(-50%);

        li {
          position: relative;
          a {
            display: inline-block;
            width: auto;
            white-space: nowrap;
            padding: 4px 0;
            font-size: 20px;
            font-weight: 500;
            position: relative;
            &::after {
              content: "";
              width: 100%;
              height: 2px;
              background: #0b6cc8;
              position: absolute;
              bottom: 0;
              left: 0;
              opacity: 0;
              transition: 0.5s;
            }
            &:hover {
              color: #0b6cc8;
              &::after {
                opacity: 1;
              }
            }
          }
          .depth2 {
            display: none;
            justify-content: center;
            align-items: stretch;
            flex-direction: column;
            flex: 1;
            gap: 10px;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: max-content;
            height: max-content;
            padding: 30px 36px;
            background-color: #fff;
            border-radius: 0px 0px 20px 20px;
            box-shadow: 4px 4px 8px 4px rgba(0, 45, 80, 0.05);

            li {
              text-align: center;
              a {
                font-size: 16px;
                display: inline-block;
                white-space: nowrap;
                position: relative;
                &::after {
                  content: "";
                  width: 3px;
                  height: 3px;
                  background-color: #0b6cc8;
                  position: absolute;
                  left: -10px;
                  top: 50%;
                  transform: translateY(-50%);
                  translate: none;
                }
              }
            }
            &.on {
              display: flex;
            }
          }
        }
      }
    }
  }
}

.banner {
  width: 100%;

  .inner {
    .swiper {
      width: 100%;
      height: 660px;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      article {
        position: absolute;
        left: 104px;

        h2 {
          font-size: 40px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          color: #000;
          position: relative;
          z-index: 2;
        }
        .custom_icon {
          position: absolute;
          left: 178px;
          top: -31px;
          .box {
            position: relative;
            z-index: 1;
            .big {
              position: absolute;
              width: 61px;
              height: 62px;
              border-radius: 88px;
              background: rgba(165, 211, 255, 0.3);
            }
            .small {
              position: absolute;
              left: 39px;
              top: 30px;
              width: 40px;
              height: 41px;
              border-radius: 88px;
              background: rgba(165, 211, 255, 0.2);
            }
          }
        }
        h3 {
          width: 598px;
          font-size: 66px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          color: #000;
          margin-bottom: 50px;
        }
        input {
          width: 640px;
          height: 74px;
          font-size: 20px;
          font-weight: 500;
          padding-left: 40px;
          border-radius: 80px;
          border: 1px solid var(--Blue-CoolGray-blue-200, #d4d8df);
          background: var(--W, #fff);
          position: relative;
        }
        button {
          width: 92px;
          height: 80px;
          background: var(--Blue-Grey-grey-600, #3e4247);
          border: none;
          border-radius: 0 80px 80px 0;
          position: absolute;
          right: -1px;
          cursor: pointer;
          .fa-search {
            font-size: 35px;
            color: #fff;
            font-weight: 400;
          }
        }
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    //---------------------------
    .menu_tap {
      ul {
        display: flex;
        justify-content: center;
        gap: 57px;
        margin-top: 32px;
        li {
          display: flex;
          height: 120px;
          align-items: center;
          flex-direction: column;
          a {
            width: 75px;
            height: 75px;
            padding: 23px 23px 22px 22px;
            border-radius: 20px;
            background: var(--Blue-CoolGray-blue-50, #f6f7f8);
            &:hover {
              background: var(--Blue-blue-300, #6eb2f0);
              svg {
                path {
                  fill: white;
                }
              }
            }
          }
        }
      }
    }
  }
}

#section1 {
  .inner {
    padding-top: 110px;
    position: relative;
    height: 483px;
    margin-bottom: 100px;
    .first_area {
      padding-left: 120px;
      position: absolute;
      top: 30%;
      width: 1360px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        width: 388px;
        strong {
          color: var(--Blue-blue-600, #0b6cc8);
          font-size: 38px;
          font-weight: 600;
        }
      }
    }

    .second_area {
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      width: 1360px;
      height: 298px;
      margin-left: 120px;
      .info {
        width: 408px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 4px 4px 8px 4px rgba(0, 45, 80, 0.05);
        border-radius: 20px;

        .box {
          text-align: center;
          li:nth-child(1) {
            color: #000;
            text-align: center;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 18px;
          }
          li:nth-child(2) {
            color: #000;
            text-align: center;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 18px;
          }
          li:nth-child(3) {
            button {
              color: var(--W, #fff);
              text-align: center;
              border-radius: 60px;
              background: var(--Blue-Grey-grey-600, #3e4247);
              border: none;
              font-size: 18px;
              font-weight: 500;
              width: 194px;
              height: 51px;
              cursor: pointer;
            }
          }
        }
      }

      .calendar {
        display: flex;
        justify-content: center;
        box-shadow: 4px 4px 8px 4px rgba(0, 45, 80, 0.05);
        border-radius: 20px;

        li {
          display: flex;
          flex-direction: column;
          .yoil {
            width: 133px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-left: 1px solid var(--Blue-blue-50, #e5f3ff);
            background-color: #6eb2f0;
            color: white;
            font-weight: 600;
            font-size: 20px;
          }
          .memo {
            width: 133px;
            height: 230px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-left: 1px solid var(--Blue-blue-50, #e5f3ff);
          }

          &:nth-child(1) {
            .yoil {
              border-top-left-radius: 25px;
            }
            .memo {
              border-left: none;
            }
          }
          &:nth-child(7) {
            .yoil {
              border-top-right-radius: 25px;
            }
          }
        }
      }
    }
  }
}
