#wrap,
#header {
  width: 100%;
  min-width: 1600px;
}

.inner {
  width: 1600px;
  margin: auto;
}

#header {
  .inner {
    height: 208px;
    margin-top: 30px;

    .first {
      border-bottom: 1px solid #c5c6c8;
      width: 100%;
      height: 117px;
      position: relative;
      .logo {
        display: inline-block;
        position: absolute;
        width: 277px;
        height: 51px;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        a {
          display: inline-block;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .top-menu {
        position: absolute;
        right: 0;
        top: 40%;
        transform: translateY(-50%);
        display: flex;
        width: auto;
        height: 32px;
        padding: 9px 0px;
        justify-content: center;
        align-items: center;
        gap: 7px;
        li {
          font-family: "Paperlogy";
          &:nth-child(1) {
            width: 117px;
            height: auto;
            margin-right: 5px;
            a {
              display: flex;
              justify-content: center;
              font-size: 14px;
              width: 117px;
              height: 25.59px;
              position: relative;
              font-weight: 600;
              svg {
                position: absolute;
                right: -3px;
                top: 2px;
              }
              &:hover {
                color: #0b6cc8;
                .more_icon {
                  fill: #0b6cc8;
                }
              }
            }
          }
          button {
            border-radius: 60px;
            border: 1px solid var(--Blue-blue-600, #0b6cc8);
            background: var(--W, #fff);
            color: #0b6cc8;
            line-height: 14px;
            font-size: 12px;
            &:nth-child(1) {
              width: 76px;
              height: 32px;
            }
            &:nth-child(2) {
              width: 91px;
              height: 32px;
            }
            &:hover {
              color: #fff;
              background: #0b6cc8;
            }
          }
        }
      }
    }
    .second {
      width: 100%;
      position: relative;
      z-index: 1000;

      .depth1 {
        position: absolute;
        display: flex;
        justify-content: center;
        gap: 90px;
        left: 50%;
        bottom: -63px;
        transform: translateX(-50%);

        li {
          position: relative;
          a {
            display: inline-block;
            width: auto;
            white-space: nowrap;
            padding: 4px 0;
            font-size: 20px;
            font-weight: 500;
            position: relative;
            &::after {
              content: "";
              width: 100%;
              height: 2px;
              background: #0b6cc8;
              position: absolute;
              bottom: 0;
              left: 0;
              opacity: 0;
              transition: 0.5s;
            }
            &:hover {
              color: #0b6cc8;
              &::after {
                opacity: 1;
              }
            }
          }
          .depth2 {
            display: none;
            justify-content: center;
            align-items: stretch;
            flex-direction: column;
            flex: 1;
            gap: 10px;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: max-content;
            height: max-content;
            padding: 30px 36px;
            background-color: #fff;
            border-radius: 0px 0px 20px 20px;
            box-shadow: 4px 4px 8px 4px rgba(0, 45, 80, 0.05);

            li {
              text-align: center;
              a {
                font-size: 16px;
                display: inline-block;
                white-space: nowrap;
                position: relative;
                &::after {
                  content: "";
                  width: 3px;
                  height: 3px;
                  background-color: #0b6cc8;
                  position: absolute;
                  left: -10px;
                  top: 50%;
                  transform: translateY(-50%);
                  translate: none;
                }
              }
            }
            &.on {
              display: flex;
            }
          }
        }
      }
    }
  }
}

.banner {
  width: 100%;

  .inner {
    .swiper {
      width: 100%;
      height: 660px;
    }
    .swiper-wrapper {
      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        article {
          position: absolute;
          left: 104px;

          .title1 {
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            color: #000;
            position: relative;
            z-index: 2;
          }
          .custom_icon {
            position: absolute;
            left: 178px;
            top: -31px;
            .box {
              position: relative;
              z-index: 1;
              .big {
                position: absolute;
                width: 61px;
                height: 62px;
                border-radius: 88px;
                background: rgba(165, 211, 255, 0.3);
              }
              .small {
                position: absolute;
                left: 39px;
                top: 30px;
                width: 40px;
                height: 41px;
                border-radius: 88px;
                background: rgba(165, 211, 255, 0.2);
              }
            }
          }
          .title2 {
            display: flex;
            align-items: center;
            gap: 10px;
            width: auto;
            font-size: 66px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            color: #000;
            margin-bottom: 50px;
            div {
              width: 50px;
              height: 50px;
              background-image: url("../images/banner/MainVisual_2_sauce.png");
              background-repeat: no-repeat;
              background-size: cover;
              border: none;
            }
          }
          .input-box {
            width: 640px;
            height: 74px;
            position: relative;
            input {
              width: 100%;
              height: 100%;
              font-size: 20px;
              font-weight: 500;
              padding-left: 40px;
              border-radius: 80px;
              border: 1px solid var(--Blue-CoolGray-blue-200, #d4d8df);
              background: var(--W, #fff);
              outline: none;
            }
            button {
              width: 92px;
              height: 80px;
              background: var(--Blue-Grey-grey-600, #3e4247);
              border: none;
              border-radius: 0 80px 80px 0;
              position: absolute;
              top: 0;
              right: -44px;
              cursor: pointer;
              .fa-search {
                font-size: 35px;
                color: #fff;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
    .swiper-pagination-bullet-active {
      transform: scale(1.3);
    }
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    //---------------------------
    .menu_tap {
      ul {
        display: flex;
        justify-content: center;
        gap: 57px;
        margin-top: 32px;
        li {
          display: flex;
          height: 120px;
          align-items: center;
          flex-direction: column;
          a {
            width: 75px;
            height: 75px;
            padding: 17px;
            border-radius: 20px;
            background: var(--Blue-CoolGray-blue-50, #f6f7f8);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            svg:nth-child(1) {
              display: block;
            }
            svg:nth-child(2) {
              display: none;
            }
            &:hover {
              background-color: #6eb2f0;
              svg:nth-child(1) {
                display: none;
              }
              svg:nth-child(2) {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

#section1 {
  .inner {
    padding-top: 110px;
    position: relative;
    height: 483px;
    margin-bottom: 100px;
    .first_area {
      padding-left: 120px;
      position: absolute;
      top: 30%;
      width: 1360px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        width: 388px;
        strong {
          color: var(--Blue-blue-600, #0b6cc8);
          font-size: 38px;
          font-weight: 600;
        }
      }
    }

    .second_area {
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      width: 1360px;
      height: 298px;
      margin-left: 120px;
      .info {
        width: 408px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 4px 4px 8px 4px rgba(0, 45, 80, 0.05);
        border-radius: 20px;

        .box {
          text-align: center;
          li:nth-child(1) {
            color: #000;
            text-align: center;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 18px;
          }
          li:nth-child(2) {
            color: #000;
            text-align: center;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 18px;
          }
          li:nth-child(3) {
            button {
              color: var(--W, #fff);
              text-align: center;
              border-radius: 60px;
              background: var(--Blue-Grey-grey-600, #3e4247);
              border: none;
              font-size: 18px;
              font-weight: 500;
              width: 194px;
              height: 51px;
              cursor: pointer;
            }
          }
        }
      }

      .calendar {
        display: flex;
        justify-content: center;
        box-shadow: 4px 4px 8px 4px rgba(0, 45, 80, 0.05);
        border-radius: 20px;

        li {
          display: flex;
          flex-direction: column;
          .yoil {
            width: 133px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-left: 1px solid var(--Blue-blue-50, #e5f3ff);
            background-color: #6eb2f0;
            color: white;
            font-weight: 600;
            font-size: 20px;
          }
          .memo {
            width: 133px;
            height: 230px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-left: 1px solid var(--Blue-blue-50, #e5f3ff);
          }

          &:nth-child(1) {
            .yoil {
              border-top-left-radius: 25px;
            }
            .memo {
              border-left: none;
            }
          }
          &:nth-child(7) {
            .yoil {
              border-top-right-radius: 25px;
            }
          }
        }
      }
    }
  }
}

#section2 {
  .inner {
    width: 1358px;
    margin: auto;
    position: relative;
    top: 50px;
    .title {
      color: var(--Blue-blue-600, #0b6cc8);
      /* 38_semiBold */
      font-size: 38px;
      font-weight: 600;
      margin-bottom: 24px;
    }

    .list {
      border-radius: 20px;
      background: var(--W, #fff);
      /* 1 */
      box-shadow: 4px 4px 8px 4px rgba(0, 45, 80, 0.05);
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 114px;
      border-radius: 25px;
      li {
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        // width: 117px;
        height: 50px;
        padding: 0 50px;
        border-right: 1px solid var(--Blue-CoolGray-blue-200, #d4d8df);
        strong {
          text-align: center;
          color: #000;
          font-size: 18px;
          font-weight: 500;
          overflow: visible;
          white-space: nowrap;
        }
        span {
          text-align: center;
          color: var(--Blue-blue-600, #0b6cc8);
          text-align: center;
          font-size: 20px;
          font-weight: 800;
        }
        &:last-child {
          border: none;
        }
      }
    }
  }
}

#section3 {
  width: 100%;
  height: 1024px;
  background-image: url("../images/main_3/BG_3.png");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;

  .inner {
    height: 904px;
    display: flex;
    justify-content: center;
    align-items: center;

    .con-box {
      width: 1357px;
      height: 614px;
      margin: auto;
      position: relative;
      .line {
        width: 3px;
        height: 464px;
        background: rgba(255, 255, 255, 0.5);
        position: absolute;
        left: 46%;
        bottom: 4px;
        transform: translateX(-50%);
      }
      .circle1 {
        position: absolute;
        display: block;
        top: 143px;
        left: 46%;
        transform: translateX(-50%);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.5);
      }
      .circle2 {
        position: absolute;
        display: block;
        bottom: 0;
        left: 46%;
        transform: translateX(-50%);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.5);
      }
      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 13px;

        strong {
          font-size: 48px;
          font-weight: 700;
          color: #000;
        }
      }
      .bottom {
        display: flex;
        justify-content: space-between;
        .left {
          display: flex;
          flex-direction: column;
          gap: 4px;
          padding-top: 69px;
          li {
            width: 560px;
            height: 114px;
            background: url("../images/main_3/Book\ illustration_off.png");
            a {
              width: 487px;
              height: 114px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              padding-left: 72px;
              font-size: 22px;
              gap: 18px;
              .num {
                width: 39px;
                height: 39px;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                font-weight: 800;
                color: #fff;
                background: var(--Blue-Grey-grey-300, #828488);
              }
            }

            &.on {
              background: url("../images/main_3/Book-illustration_on.png");
              a {
                font-weight: 800;
                .num {
                  background: var(--Blue-blue-600, #0b6cc8);
                }
              }
            }
          }
        }
        .right {
          width: 687px;
          height: 494px;
          padding-top: 69px;
          position: relative;
          img {
            width: 100%;
            height: 100%;
          }
          .bookmarks {
            display: flex;
            justify-items: center;
            flex-direction: column;
            position: absolute;
            top: 80px;
            left: 100%;
            gap: 2px;
            .bookmark {
              width: 25px;
              height: 38px;
              background: var(--Blue-Grey-grey-300, #828488);
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
              &.on {
                background: var(--Blue-blue-600, #0b6cc8);
                width: 33px;
              }
              a {
                display: block;
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}

#section4 {
  .inner {
    height: 644px;
    margin: auto;
    padding: 160px;

    .top {
      width: 634px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 120px;
      gap: 26px;
      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        h2 {
          color: #000;
          font-size: 48px;
          font-weight: 700;
        }
      }
      .tap-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 13px;
        li {
          display: flex;
          overflow: hidden; // 라운드 처리에 유용
          // padding: 12px 30px;
          // border-radius: 60px;
          justify-content: center;
          align-items: center;

          a {
            display: block;
            padding: 12px 30px;
            border-radius: 60px;
            border: 1px solid var(--Blue-Grey-grey-500, #44484e);
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            color: #44484e;
          }

          &.on {
            a {
              border: 1px solid var(--Blue-blue-600, #0b6cc8);
              padding: 12px 38px;
              color: #0b6cc8;
              font-weight: 600;
              position: relative;
              &::after {
                content: "";
                width: 5px;
                height: 5px;
                border-radius: 100%;
                background-color: #0b6cc8;
                position: absolute;
                left: 20%;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
    }

    .bottom {
      margin-top: 42px;
      .book-theme-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 41px;

        .books {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          position: relative; // 중요
          overflow: hidden; // 확대 이미지 잘림 방지
          overflow: visible;
          transform: scale(1);
          .genre {
            border-radius: 60px;
            border: 1px solid #000;
            background: var(--Blue-CoolGray-blue-50, #f6f7f8);
            font-size: 18px;
            font-weight: 600;
            padding: 2px 24px;
            margin-bottom: 16px;
          }
          .title {
            height: 21px;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 6px;
          }
          .writer {
            height: 19px;
            color: var(--Blue-Grey-grey-500, #44484e);
            font-size: 16px;
          }
          &:hover {
            transform: scale(1.07);
            .genre {
              color: var(--Blue-blue-500, #3879e1);
            }
            .title {
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

#section5 {
  width: 100%;
  height: 1066px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/main_5/BG_5.png");
  background-repeat: no-repeat;
  background-size: 100% 1066px; /* 💡 너비는 꽉, 높이는 자동 */
  .inner {
    height: 743px;

    .top {
      margin-bottom: 82px;
      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 30px;
        h2 {
          color: var(--W, #fff);
          text-align: center;
          font-size: 48px;
          font-weight: 700;
        }
      }

      .date {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 62px;
        .calendar {
          width: 144px;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          .swiper {
            width: 100%;
            height: 100%;
          }
          .swiper-slide {
            color: var(--Blue-blue-200, #a5d3ff);
            text-align: center;
            font-size: 38px;
            font-weight: 600;
            letter-spacing: 3.8px;
            line-height: 45px;
          }

          .calendar-button-next {
            cursor: pointer;
            position: absolute;
            right: -10px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 30;
            img {
              width: 35px;
              height: 35px;
            }
          }
          .calendar-button-prev {
            cursor: pointer;
            position: absolute;
            left: -10px;
            top: 50%;
            z-index: 30;
            transform: translateY(-50%);
            img {
              width: 35px;
              height: 35px;
            }
          }
        }

        .days {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          color: var(--Blue-blue-200, #a5d3ff);
          li {
            width: 37px;
            height: 37px;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          li.on {
            border: 1.5px solid #fff;
            font-weight: 800;
          }
        }
      }
    }

    .bottom {
      .poster-swiper {
        width: 100%;
        height: 100%;
        padding: 40px 0;
        .swiper-wrapper {
          align-items: flex-start;
          .swiper-slide {
            width: 308.359px;
            text-align: center;
            font-size: 18px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            position: relative;
            img {
              width: 100%;
              height: 436px;
              object-fit: cover;
              margin-bottom: 22px;
              border-radius: 22px;
              z-index: 1; // 🔥 아래 .bg보다 낮게
              position: relative;
            }
            strong {
              color: #fff;
              font-size: 24px;
              font-weight: 700;
            }
            span {
              color: #d4d8df;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
            }
            .bg {
              position: absolute;
              left: 0;
              top: 0;
              display: none;
              width: 100%;
              height: 436px;
              background-color: #000;
              opacity: 0.8;
              z-index: 3;
              border-radius: 22px;
              overflow: hidden;
              background-repeat: no-repeat;
              svg {
                position: relative;
                right: -85px;
              }
              article {
                width: 319px;
                height: auto;
                margin: auto;
                .area {
                  display: inline-block;
                  font-size: 18px;
                  font-weight: 600;
                  padding: 5px 20px;
                  border: 1px solid #fff;
                  border-radius: 100px;
                  margin-bottom: 20px;
                }
                .title {
                  display: block;
                  font-size: 24px;
                  font-weight: 700;
                  color: white;
                  margin-bottom: 17px;
                }
                .date {
                  display: flex;
                  justify-items: center;
                  justify-content: center;
                  flex-wrap: wrap;
                  span {
                    display: block;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 500;
                  }
                }
              }
            }
            &.on {
              transform: scale(1.1);
              .slide-title,
              .slide-date {
                display: none;
              }
              .bg {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

#section6 {
  width: 100%;
  height: 487px;
  background-image: url("../images/main_6/BG_6.png");
  background-repeat: no-repeat;
  background-size: 100% 487px;
  .inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .top {
      width: 1410px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        font-size: 38px;
        font-weight: 600;
      }
      p {
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
      }
    }
    .bottom {
      position: relative;
      .notice-swiper {
        width: 1550px;
        height: 200px;
        margin-top: 50px;
        box-sizing: border-box;

        .swiper-slide {
          width: 450px;
          height: 196px;
          border: 1px solid #000;
          border-radius: 20px;
          border: 1px solid var(--Blue-CoolGray-blue-50, #f6f7f8);
          box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.1);
          position: relative;
          .logo {
            position: absolute;
            top: 20px;
            right: 20px;
          }
          article {
            width: 353px;
            height: auto;
            padding-top: 75px;
            margin: auto;
            .title {
              font-size: 26px;
              font-weight: 600;
              margin-bottom: 10px;
              display: -webkit-box;
              -webkit-line-clamp: 2; // ⭐ 최대 2줄까지 표시
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .date {
              color: var(--Blue-Grey-grey-400, #696d71);
              font-size: 18px;
              font-weight: 500;
            }
          }
          .label {
            display: flex;
            width: 164px;
            height: 44px;
            background: var(--Blue-CoolGray-blue-700, #727984);
            justify-content: center;
            align-items: center;
            position: absolute;
            left: -20px;
            top: 27px;
            color: #fff;
            font-weight: 600;
            font-size: 16px;
          }

          &:hover {
            .label {
              background: #0b6cc8;
            }
            .logo {
              path {
                fill: #e5f3ff;
                stroke: #e5f3ff;
              }
            }
          }
        }
      }
      .notice-swiper-next {
        position: absolute;
        right: -100px;
        top: 117px;
        z-index: 1;
      }
      .notice-swiper-prev {
        position: absolute;
        left: -100px;
        top: 117px;
        z-index: 1;
      }
    }
  }
}

#footer {
  width: 100%;
  height: 347px;
  background-color: #333;
  .inner {
    height: 100%;
    overflow: hidden;
    .top {
      margin-top: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        width: 277px;
        height: 51px;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .library-wrap {
        width: 272px;
        height: 52px;
        background-color: #fff;
        border-radius: 20px;
        position: relative;

        .library-toggle {
          width: 232px;
          height: 100%;

          padding: 0 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          .library-name {
            font-weight: 600;
            font-size: 18px;
          }
          i {
            width: 22px;
            height: 22px;
            transform: rotate(0deg);
            transition: 0.3s;
          }
        }
        .library-dropdown {
          ul {
            display: none;
            // display: flex;
            flex-direction: column;
            width: 272px;
            background-color: #fff;
            padding: 15px 0;
            z-index: 2;
            position: absolute;
            bottom: -650%;
            padding-top: 35px;
            opacity: 0;
            transition: 0.5s ease;
            gap: 10px;
            li {
              cursor: pointer;
              color: var(--Blue-Grey-grey-300, #828488);
              font-size: 18px;
              font-weight: 500;

              padding-left: 20px;
              &:hover {
                font-weight: 600;
                color: #000;
              }
            }
          }
          .line {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 230px;
            height: 2px;
            background: #828488;
            display: none;
          }
        }

        &.active {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          .library-toggle {
            i {
              transform: rotate(180deg);
            }
          }
          .library-dropdown {
            ul {
              border-top-left-radius: 20px;
              border-top-right-radius: 20px;
              bottom: 100%;
              opacity: 1;
              display: flex;
            }
            .line {
              display: block;
            }
          }
        }
      }
    }

    .bottom {
      width: 100%;
      height: auto;
      position: relative;
      .logos {
        position: absolute;
        left: 0;
        top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        li {
          width: 50px;
          height: 50px;
          border: 1px solid var(--Blue-Grey-grey-300, #828488);
          border-radius: 100%;
          i {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          &:hover {
            background: var(--Blue-blue-600, #0b6cc8);
            border: 1px solid var(--Blue-Grey-grey-300, #fff);
            i {
              path {
                fill: white;
              }
            }
          }
        }
      }

      .phone {
        position: absolute;
        right: 20px;
        top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
          width: 173px;
          font-size: 20px;
          font-weight: 600;
          color: #fff;
          text-align: right;
          position: relative;
        }
        i {
          position: absolute;
          left: 0;

          width: 22px;
          height: 22px;
        }
      }

      .copyright {
        width: 565px;
        position: absolute;
        right: 0;
        top: 100px;
        .con {
          position: relative;
          .logo {
            position: absolute;
            top: 5px;
            left: 0;
          }
          .nav {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            position: absolute;
            top: 0;
            right: 0;

            li {
              a {
                color: #fff;
                font-size: 12px;
                display: inline;
                position: relative;
                &::after {
                  content: "";
                  width: 1px;
                  height: 11px;
                  background-color: #fff;
                  position: absolute;
                  top: 50%;
                  right: -12px;
                  transform: translateY(-50%);
                }
              }
              &:last-child {
                a {
                  &::after {
                    content: none;
                  }
                }
              }
            }
          }
          span {
            color: var(--Blue-Grey-grey-300, #828488);
            font-size: 12px;
            font-weight: 500;
            position: absolute;
            bottom: -47px;
            right: 0;
          }
        }
      }
    }
  }
}
