@charset "UTF-8";
#wrap,
#header {
  width: 100%;
  min-width: 1600px;
}

.inner {
  width: 1600px;
  margin: auto;
}

#header .inner {
  height: 208px;
  margin-top: 30px;
}
#header .inner .first {
  border-bottom: 1px solid #c5c6c8;
  width: 100%;
  height: 117px;
  position: relative;
}
#header .inner .first .logo {
  display: inline-block;
  position: absolute;
  width: 277px;
  height: 51px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#header .inner .first .logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
#header .inner .first .logo a img {
  width: 100%;
  height: 100%;
}
#header .inner .first .top-menu {
  position: absolute;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
  display: flex;
  width: auto;
  height: 32px;
  padding: 9px 0px;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
#header .inner .first .top-menu li {
  font-family: "Paperlogy";
}
#header .inner .first .top-menu li:nth-child(1) {
  width: 117px;
  height: auto;
  margin-right: 5px;
}
#header .inner .first .top-menu li:nth-child(1) a {
  display: flex;
  justify-content: center;
  font-size: 14px;
  width: 117px;
  height: 25.59px;
  position: relative;
  font-weight: 500;
}
#header .inner .first .top-menu li:nth-child(1) a svg {
  position: absolute;
  right: -3px;
  top: 2px;
}
#header .inner .first .top-menu li:nth-child(1) a:hover {
  color: #0b6cc8;
}
#header .inner .first .top-menu li:nth-child(1) a:hover .more_icon {
  fill: #0b6cc8;
}
#header .inner .first .top-menu li button {
  border-radius: 60px;
  border: 1px solid var(--Blue-blue-600, #0b6cc8);
  background: var(--W, #fff);
  color: #0b6cc8;
  line-height: 14px;
  font-size: 12px;
}
#header .inner .first .top-menu li button:nth-child(1) {
  width: 76px;
  height: 32px;
}
#header .inner .first .top-menu li button:nth-child(2) {
  width: 91px;
  height: 32px;
}
#header .inner .first .top-menu li button:hover {
  color: #fff;
  background: #0b6cc8;
}
#header .inner .second {
  width: 100%;
  position: relative;
  z-index: 1000;
}
#header .inner .second .depth1 {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 90px;
  left: 50%;
  bottom: -63px;
  transform: translateX(-50%);
}
#header .inner .second .depth1 li {
  position: relative;
}
#header .inner .second .depth1 li a {
  display: inline-block;
  width: auto;
  white-space: nowrap;
  padding: 4px 0;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
#header .inner .second .depth1 li a::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #0b6cc8;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}
#header .inner .second .depth1 li a:hover {
  color: #0b6cc8;
}
#header .inner .second .depth1 li a:hover::after {
  opacity: 1;
}
#header .inner .second .depth1 li .depth2 {
  display: none;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  height: max-content;
  padding: 30px 36px;
  background-color: #fff;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 4px 4px 8px 4px rgba(0, 45, 80, 0.05);
}
#header .inner .second .depth1 li .depth2 li {
  text-align: center;
}
#header .inner .second .depth1 li .depth2 li a {
  font-size: 16px;
  display: inline-block;
  white-space: nowrap;
  position: relative;
}
#header .inner .second .depth1 li .depth2 li a::after {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #0b6cc8;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  translate: none;
}
#header .inner .second .depth1 li .depth2.on {
  display: flex;
}

.banner {
  width: 100%;
}
.banner .inner .swiper {
  width: 100%;
  height: 660px;
}
.banner .inner .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.banner .inner .swiper-wrapper .swiper-slide article {
  position: absolute;
  left: 104px;
}
.banner .inner .swiper-wrapper .swiper-slide article .title1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;
  z-index: 2;
}
.banner .inner .swiper-wrapper .swiper-slide article .custom_icon {
  position: absolute;
  left: 178px;
  top: -31px;
}
.banner .inner .swiper-wrapper .swiper-slide article .custom_icon .box {
  position: relative;
  z-index: 1;
}
.banner .inner .swiper-wrapper .swiper-slide article .custom_icon .box .big {
  position: absolute;
  width: 61px;
  height: 62px;
  border-radius: 88px;
  background: rgba(165, 211, 255, 0.3);
}
.banner .inner .swiper-wrapper .swiper-slide article .custom_icon .box .small {
  position: absolute;
  left: 39px;
  top: 30px;
  width: 40px;
  height: 41px;
  border-radius: 88px;
  background: rgba(165, 211, 255, 0.2);
}
.banner .inner .swiper-wrapper .swiper-slide article .title2 {
  display: flex;
  align-items: center;
  gap: 10px;
  width: auto;
  font-size: 66px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 50px;
  margin-top: 10px;
}
.banner .inner .swiper-wrapper .swiper-slide article .title2 div {
  width: 50px;
  height: 50px;
  background-image: url("../images/banner/MainVisual_2_sauce.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}
.banner .inner .swiper-wrapper .swiper-slide article .input-box {
  width: 640px;
  height: 74px;
  position: relative;
}
.banner .inner .swiper-wrapper .swiper-slide article .input-box input {
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 500;
  padding-left: 40px;
  border-radius: 80px;
  border: 1px solid var(--Blue-CoolGray-blue-200, #d4d8df);
  background: var(--W, #fff);
  outline: none;
}
.banner .inner .swiper-wrapper .swiper-slide article .input-box button {
  width: 92px;
  height: 80px;
  background: var(--Blue-Grey-grey-600, #3e4247);
  border: none;
  border-radius: 0 80px 80px 0;
  position: absolute;
  top: 0;
  right: -44px;
  cursor: pointer;
}
.banner .inner .swiper-wrapper .swiper-slide article .input-box button .fa-search {
  font-size: 35px;
  color: #fff;
  font-weight: 400;
}
.banner .inner .swiper-pagination {
  position: absolute;
  right: 37px;
}
.banner .inner .swiper-pagination-bullet-active {
  transform: scale(1.3);
}
.banner .inner .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner .inner .menu_tap ul {
  display: flex;
  justify-content: center;
  gap: 57px;
  margin-top: 32px;
}
.banner .inner .menu_tap ul li {
  display: flex;
  height: 120px;
  align-items: center;
  flex-direction: column;
}
.banner .inner .menu_tap ul li a {
  width: 75px;
  height: 75px;
  padding: 17px;
  border-radius: 20px;
  background: var(--Blue-CoolGray-blue-50, #f6f7f8);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.banner .inner .menu_tap ul li a svg:nth-child(1) {
  display: block;
}
.banner .inner .menu_tap ul li a svg:nth-child(2) {
  display: none;
}
.banner .inner .menu_tap ul li a:hover {
  background-color: #6eb2f0;
}
.banner .inner .menu_tap ul li a:hover svg:nth-child(1) {
  display: none;
}
.banner .inner .menu_tap ul li a:hover svg:nth-child(2) {
  display: block;
}

#section1 .inner {
  padding-top: 110px;
  position: relative;
  height: 483px;
  margin-bottom: 100px;
}
#section1 .inner .first_area {
  padding-left: 120px;
  position: absolute;
  top: 30%;
  width: 1360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#section1 .inner .first_area .title {
  width: 388px;
}
#section1 .inner .first_area .title strong {
  color: var(--Blue-blue-600, #0b6cc8);
  font-size: 38px;
  font-weight: 600;
}
#section1 .inner .second_area {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 1360px;
  height: 298px;
  margin-left: 120px;
}
#section1 .inner .second_area .info {
  width: 408px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 8px 4px rgba(0, 45, 80, 0.05);
  border-radius: 20px;
}
#section1 .inner .second_area .info .box {
  text-align: center;
}
#section1 .inner .second_area .info .box li:nth-child(1) {
  color: #000;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 18px;
}
#section1 .inner .second_area .info .box li:nth-child(2) {
  color: #000;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 18px;
}
#section1 .inner .second_area .info .box li:nth-child(3) button {
  color: var(--W, #fff);
  text-align: center;
  border-radius: 60px;
  background: var(--Blue-Grey-grey-600, #3e4247);
  border: none;
  font-size: 18px;
  font-weight: 500;
  width: 194px;
  height: 51px;
  cursor: pointer;
}
#section1 .inner .second_area .calendar {
  display: flex;
  justify-content: center;
  box-shadow: 4px 4px 8px 4px rgba(0, 45, 80, 0.05);
  border-radius: 20px;
}
#section1 .inner .second_area .calendar li {
  display: flex;
  flex-direction: column;
}
#section1 .inner .second_area .calendar li .yoil {
  width: 133px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid var(--Blue-blue-50, #e5f3ff);
  background-color: #6eb2f0;
  color: white;
  font-weight: 600;
  font-size: 20px;
}
#section1 .inner .second_area .calendar li .memo {
  width: 133px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid var(--Blue-blue-50, #e5f3ff);
}
#section1 .inner .second_area .calendar li:nth-child(1) .yoil {
  border-top-left-radius: 25px;
}
#section1 .inner .second_area .calendar li:nth-child(1) .memo {
  border-left: none;
}
#section1 .inner .second_area .calendar li:nth-child(7) .yoil {
  border-top-right-radius: 25px;
}

#section2 .inner {
  width: 1358px;
  margin: auto;
  position: relative;
  top: 50px;
}
#section2 .inner .title {
  color: var(--Blue-blue-600, #0b6cc8);
  /* 38_semiBold */
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 24px;
}
#section2 .inner .list {
  border-radius: 20px;
  background: var(--W, #fff);
  /* 1 */
  box-shadow: 4px 4px 8px 4px rgba(0, 45, 80, 0.05);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 114px;
  border-radius: 25px;
}
#section2 .inner .list li {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  height: 50px;
  padding: 0 50px;
  border-right: 1px solid var(--Blue-CoolGray-blue-200, #d4d8df);
}
#section2 .inner .list li strong {
  text-align: center;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  overflow: visible;
  white-space: nowrap;
}
#section2 .inner .list li span {
  text-align: center;
  color: var(--Blue-blue-600, #0b6cc8);
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}
#section2 .inner .list li:last-child {
  border: none;
}

#section3 {
  width: 100%;
  height: 1024px;
  background-image: url("../images/main_3/BG_3.png");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
#section3 .inner {
  height: 904px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section3 .inner .con-box {
  width: 1357px;
  height: 614px;
  margin: auto;
  position: relative;
}
#section3 .inner .con-box .line {
  width: 3px;
  height: 464px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 46%;
  bottom: 4px;
  transform: translateX(-50%);
}
#section3 .inner .con-box .circle1 {
  position: absolute;
  display: block;
  top: 143px;
  left: 46%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
}
#section3 .inner .con-box .circle2 {
  position: absolute;
  display: block;
  bottom: 0;
  left: 46%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
}
#section3 .inner .con-box .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}
#section3 .inner .con-box .title strong {
  font-size: 48px;
  font-weight: 700;
  color: #000;
}
#section3 .inner .con-box .bottom {
  display: flex;
  justify-content: space-between;
}
#section3 .inner .con-box .bottom .left {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 69px;
}
#section3 .inner .con-box .bottom .left li {
  width: 560px;
  height: 114px;
  background: url("../images/main_3/Book illustration_off.png");
}
#section3 .inner .con-box .bottom .left li a {
  width: 487px;
  height: 114px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 72px;
  font-size: 22px;
  gap: 18px;
}
#section3 .inner .con-box .bottom .left li a .num {
  width: 39px;
  height: 39px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 800;
  color: #fff;
  background: var(--Blue-Grey-grey-300, #828488);
}
#section3 .inner .con-box .bottom .left li.on {
  background: url("../images/main_3/Book-illustration_on.png");
}
#section3 .inner .con-box .bottom .left li.on a {
  font-weight: 800;
}
#section3 .inner .con-box .bottom .left li.on a .num {
  background: var(--Blue-blue-600, #0b6cc8);
}
#section3 .inner .con-box .bottom .right {
  width: 687px;
  height: 494px;
  padding-top: 69px;
  position: relative;
}
#section3 .inner .con-box .bottom .right img {
  width: 100%;
  height: 100%;
}
#section3 .inner .con-box .bottom .right .bookmarks {
  display: flex;
  justify-items: center;
  flex-direction: column;
  position: absolute;
  top: 80px;
  left: 100%;
  gap: 2px;
}
#section3 .inner .con-box .bottom .right .bookmarks .bookmark {
  width: 25px;
  height: 38px;
  background: var(--Blue-Grey-grey-300, #828488);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#section3 .inner .con-box .bottom .right .bookmarks .bookmark.on {
  background: var(--Blue-blue-600, #0b6cc8);
  width: 33px;
}
#section3 .inner .con-box .bottom .right .bookmarks .bookmark a {
  display: block;
  width: 100%;
  height: 100%;
}

#section4 .inner {
  height: 644px;
  margin: auto;
  padding: 160px;
}
#section4 .inner .top {
  width: 634px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 120px;
  gap: 26px;
}
#section4 .inner .top .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#section4 .inner .top .title h2 {
  color: #000;
  font-size: 48px;
  font-weight: 700;
}
#section4 .inner .top .tap-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}
#section4 .inner .top .tap-menu li {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
#section4 .inner .top .tap-menu li a {
  display: block;
  padding: 12px 30px;
  border-radius: 60px;
  border: 1px solid var(--Blue-Grey-grey-500, #44484e);
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #44484e;
}
#section4 .inner .top .tap-menu li.on a {
  border: 1px solid var(--Blue-blue-600, #0b6cc8);
  padding: 12px 38px;
  color: #0b6cc8;
  font-weight: 600;
  position: relative;
}
#section4 .inner .top .tap-menu li.on a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #0b6cc8;
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
}
#section4 .inner .bottom {
  margin-top: 42px;
}
#section4 .inner .bottom .book-theme-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 41px;
}
#section4 .inner .bottom .book-theme-list .books {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  overflow: visible;
  transform: scale(1);
}
#section4 .inner .bottom .book-theme-list .books .genre {
  border-radius: 60px;
  border: 1px solid #000;
  background: var(--Blue-CoolGray-blue-50, #f6f7f8);
  font-size: 18px;
  font-weight: 600;
  padding: 2px 24px;
  margin-bottom: 16px;
}
#section4 .inner .bottom .book-theme-list .books .title {
  height: 21px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
}
#section4 .inner .bottom .book-theme-list .books .writer {
  height: 19px;
  color: var(--Blue-Grey-grey-500, #44484e);
  font-size: 16px;
}
#section4 .inner .bottom .book-theme-list .books:hover {
  transform: scale(1.07);
}
#section4 .inner .bottom .book-theme-list .books:hover .genre {
  color: var(--Blue-blue-500, #3879e1);
  border: 1px solid var(--Blue-blue-500, #3879e1);
  background: var(--W, #fff);
}
#section4 .inner .bottom .book-theme-list .books:hover .title {
  font-weight: 600;
}

#section5 {
  width: 100%;
  height: 1066px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/main_5/BG_5.png");
  background-repeat: no-repeat;
  background-size: 100% 1066px; /* 💡 너비는 꽉, 높이는 자동 */
}
#section5 .inner {
  height: 743px;
}
#section5 .inner .top {
  margin-bottom: 82px;
}
#section5 .inner .top .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
#section5 .inner .top .title h2 {
  color: var(--W, #fff);
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}
#section5 .inner .top .date {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 62px;
}
#section5 .inner .top .date .calendar {
  width: 144px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#section5 .inner .top .date .calendar .swiper {
  width: 100%;
  height: 100%;
}
#section5 .inner .top .date .calendar .swiper-slide {
  color: var(--Blue-blue-200, #a5d3ff);
  text-align: center;
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 3.8px;
  line-height: 45px;
}
#section5 .inner .top .date .calendar .calendar-button-next {
  cursor: pointer;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 30;
}
#section5 .inner .top .date .calendar .calendar-button-next img {
  width: 35px;
  height: 35px;
}
#section5 .inner .top .date .calendar .calendar-button-prev {
  cursor: pointer;
  position: absolute;
  left: -10px;
  top: 50%;
  z-index: 30;
  transform: translateY(-50%);
}
#section5 .inner .top .date .calendar .calendar-button-prev img {
  width: 35px;
  height: 35px;
}
#section5 .inner .top .date .days {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--Blue-blue-200, #a5d3ff);
}
#section5 .inner .top .date .days li {
  width: 37px;
  height: 37px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#section5 .inner .top .date .days li.on {
  border: 1.5px solid #fff;
  font-weight: 800;
}
#section5 .inner .bottom .poster-swiper {
  width: 100%;
  height: 100%;
  padding: 40px 0;
}
#section5 .inner .bottom .poster-swiper .swiper-wrapper {
  align-items: flex-start;
}
#section5 .inner .bottom .poster-swiper .swiper-wrapper .swiper-slide {
  width: 308.359px;
  text-align: center;
  font-size: 18px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}
#section5 .inner .bottom .poster-swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 436px;
  object-fit: cover;
  margin-bottom: 22px;
  border-radius: 22px;
  z-index: 1;
  position: relative;
}
#section5 .inner .bottom .poster-swiper .swiper-wrapper .swiper-slide strong {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
#section5 .inner .bottom .poster-swiper .swiper-wrapper .swiper-slide span {
  color: #d4d8df;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
#section5 .inner .bottom .poster-swiper .swiper-wrapper .swiper-slide .bg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 436px;
  background-color: #000;
  opacity: 0.8;
  z-index: 3;
  border-radius: 22px;
  overflow: hidden;
  background-repeat: no-repeat;
}
#section5 .inner .bottom .poster-swiper .swiper-wrapper .swiper-slide .bg svg {
  position: relative;
  right: -85px;
}
#section5 .inner .bottom .poster-swiper .swiper-wrapper .swiper-slide .bg article {
  width: 319px;
  height: auto;
  margin: auto;
}
#section5 .inner .bottom .poster-swiper .swiper-wrapper .swiper-slide .bg article .area {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 20px;
  border: 1px solid #fff;
  border-radius: 100px;
  margin-bottom: 20px;
}
#section5 .inner .bottom .poster-swiper .swiper-wrapper .swiper-slide .bg article .title {
  display: block;
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-bottom: 17px;
}
#section5 .inner .bottom .poster-swiper .swiper-wrapper .swiper-slide .bg article .date {
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#section5 .inner .bottom .poster-swiper .swiper-wrapper .swiper-slide .bg article .date span {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
#section5 .inner .bottom .poster-swiper .swiper-wrapper .swiper-slide.on {
  transform: scale(1.1);
}
#section5 .inner .bottom .poster-swiper .swiper-wrapper .swiper-slide.on .slide-title,
#section5 .inner .bottom .poster-swiper .swiper-wrapper .swiper-slide.on .slide-date {
  display: none;
}
#section5 .inner .bottom .poster-swiper .swiper-wrapper .swiper-slide.on .bg {
  display: block;
}

#section6 {
  width: 100%;
  height: 587px;
  background-image: url("../images/main_6/BG_6.png");
  background-repeat: no-repeat;
  background-size: 100% 487px;
}
#section6 .inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 100px;
}
#section6 .inner .top {
  width: 1410px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#section6 .inner .top .title {
  font-size: 38px;
  font-weight: 600;
}
#section6 .inner .top p {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
#section6 .inner .bottom {
  position: relative;
}
#section6 .inner .bottom .notice-swiper {
  width: 1550px;
  height: 200px;
  margin-top: 50px;
  box-sizing: border-box;
}
#section6 .inner .bottom .notice-swiper .swiper-slide {
  background-color: #fff;
  width: 450px;
  height: 196px;
  border: 1px solid #000;
  border-radius: 20px;
  border: 1px solid var(--Blue-CoolGray-blue-50, #f6f7f8);
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.1);
  position: relative;
}
#section6 .inner .bottom .notice-swiper .swiper-slide .logo {
  position: absolute;
  top: 20px;
  right: 20px;
}
#section6 .inner .bottom .notice-swiper .swiper-slide article {
  width: 353px;
  height: auto;
  padding-top: 75px;
  margin: auto;
}
#section6 .inner .bottom .notice-swiper .swiper-slide article .title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#section6 .inner .bottom .notice-swiper .swiper-slide article .date {
  color: var(--Blue-Grey-grey-400, #696d71);
  font-size: 18px;
  font-weight: 500;
}
#section6 .inner .bottom .notice-swiper .swiper-slide .label {
  display: flex;
  width: 164px;
  height: 44px;
  background: var(--Blue-CoolGray-blue-700, #727984);
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -14px;
  top: 27px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}
#section6 .inner .bottom .notice-swiper .swiper-slide .label::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0px;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-right: 12px solid #2e2e2e;
  /* 삼각형 색상 */
}
#section6 .inner .bottom .notice-swiper .swiper-slide:hover .label {
  background: #0b6cc8;
}
#section6 .inner .bottom .notice-swiper .swiper-slide:hover .logo path {
  fill: #e5f3ff;
  stroke: #e5f3ff;
}
#section6 .inner .bottom .notice-swiper-next {
  position: absolute;
  right: -100px;
  top: 117px;
  z-index: 1;
}
#section6 .inner .bottom .notice-swiper-prev {
  position: absolute;
  left: -100px;
  top: 117px;
  z-index: 1;
}

#footer {
  width: 100%;
  height: 347px;
  background-color: #333;
}
#footer .inner {
  height: 100%;
  overflow: hidden;
}
#footer .inner .top {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .inner .top .logo {
  width: 277px;
  height: 51px;
}
#footer .inner .top .logo img {
  width: 100%;
  height: 100%;
}
#footer .inner .top .library-wrap {
  width: 272px;
  height: 52px;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
}
#footer .inner .top .library-wrap .library-toggle {
  width: 232px;
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
#footer .inner .top .library-wrap .library-toggle .library-name {
  font-weight: 600;
  font-size: 18px;
}
#footer .inner .top .library-wrap .library-toggle i {
  width: 22px;
  height: 22px;
  transform: rotate(0deg);
  transition: 0.3s;
}
#footer .inner .top .library-wrap .library-dropdown ul {
  display: none;
  flex-direction: column;
  width: 272px;
  background-color: #fff;
  padding: 15px 0;
  z-index: 2;
  position: absolute;
  bottom: -650%;
  padding-top: 35px;
  opacity: 0;
  transition: 0.5s ease;
  gap: 10px;
}
#footer .inner .top .library-wrap .library-dropdown ul li {
  cursor: pointer;
  color: var(--Blue-Grey-grey-300, #828488);
  font-size: 18px;
  font-weight: 500;
  padding-left: 20px;
}
#footer .inner .top .library-wrap .library-dropdown ul li:hover {
  font-weight: 600;
  color: #000;
}
#footer .inner .top .library-wrap .library-dropdown .line {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 230px;
  height: 2px;
  background: #828488;
  display: none;
}
#footer .inner .top .library-wrap.active {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#footer .inner .top .library-wrap.active .library-toggle i {
  transform: rotate(180deg);
}
#footer .inner .top .library-wrap.active .library-dropdown ul {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  bottom: 100%;
  opacity: 1;
  display: flex;
}
#footer .inner .top .library-wrap.active .library-dropdown .line {
  display: block;
}
#footer .inner .bottom {
  width: 100%;
  height: auto;
  position: relative;
}
#footer .inner .bottom .logos {
  position: absolute;
  left: 0;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#footer .inner .bottom .logos li {
  width: 50px;
  height: 50px;
  border: 1px solid var(--Blue-Grey-grey-300, #828488);
  border-radius: 100%;
}
#footer .inner .bottom .logos li i {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .inner .bottom .logos li:hover {
  background: var(--Blue-blue-600, #0b6cc8);
  border: 1px solid var(--Blue-Grey-grey-300, #fff);
}
#footer .inner .bottom .logos li:hover i path {
  fill: white;
}
#footer .inner .bottom .phone {
  position: absolute;
  right: 20px;
  top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .inner .bottom .phone h3 {
  width: 173px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-align: right;
  position: relative;
}
#footer .inner .bottom .phone i {
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
}
#footer .inner .bottom .copyright {
  width: 565px;
  position: absolute;
  right: 0;
  top: 100px;
}
#footer .inner .bottom .copyright .con {
  position: relative;
}
#footer .inner .bottom .copyright .con .logo {
  position: absolute;
  top: 5px;
  left: 0;
}
#footer .inner .bottom .copyright .con .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 0;
  right: 0;
}
#footer .inner .bottom .copyright .con .nav li a {
  color: #fff;
  font-size: 12px;
  display: inline;
  position: relative;
}
#footer .inner .bottom .copyright .con .nav li a::after {
  content: "";
  width: 1px;
  height: 11px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  right: -12px;
  transform: translateY(-50%);
}
#footer .inner .bottom .copyright .con .nav li:last-child a::after {
  content: none;
}
#footer .inner .bottom .copyright .con span {
  color: var(--Blue-Grey-grey-300, #828488);
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  bottom: -47px;
  right: 0;
}